<joint name="eskin_02-6_joint" type="fixed">
    <parent link="FL_thigh"/>
    <child link="eskin_02-6_link"/>
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.198"/>
    <axis xyz="0 0 1"/>
    <limit effort="150.0" lower="-6.28318530718" upper="6.28318530718" velocity="3.15"/>
    <dynamics damping="0.0" friction="0.0"/>
  </joint>

  <link name="eskin_02-6_link">
    <visual>
      <geometry>
        <mesh filename="eskin/04-1.dae"/>
      </geometry>
      <material name="LightGrey">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="eskin/04-1.dae"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0."/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <inertia ixx="0." ixy="0.0" ixz="0.0" iyy="0." iyz="0.0" izz="0."/>
    </inertial>
  </link>